@model MvcStok.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayount.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Ürün Ad</label>
        <input type="text" class="form-control" name="URUNAD" required="" maxlength="30" />
    </div>
    <div>
        <label>Marka</label>
        <input type="text" class="form-control" name="MARKA" placeholder="Markayı yazınız..." required=""/>
    </div>
    <div>
        <label>Kategori Seçiniz</label>
     @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID,(List<SelectListItem>)ViewBag.dgr, new { @class="form-control"})
    </div>
    <div>
        <label>Fiyat</label>
        <input type="text" class="form-control" name="FIYAT" />
    </div>
    <div>
        <label>Stok</label>
        <input type="text" class="form-control" name="STOK" />
    </div>
    
    <div style="margin-top:15px">
        <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>


